.example-spacer {
    flex: 1 1 auto;
}

.logo {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.logo-disabled {
    display: none;
}

.shop-icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
